@model Tcc.Entity.ClienteFixo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClienteFixo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataultimopagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataultimopagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipofrequencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipofrequencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.clienteid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
