@model IEnumerable<Tcc.Entity.ClienteFixoDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dataultimopagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipofrequencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dataultimopagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipofrequencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.clienteid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.clienteid })
        </td>
    </tr>
}

</table>
